.About {
    background-color: #454545;
    border: 2px solid #006d75;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 25px;
    color: white;
}
.about-image img {
    display: inline-block;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #006d75;
    filter: grayscale(90%);
}
.About p {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
}
.About h2 {
    padding: 10px;
    font-size: 2.5rem;
}
.About img:hover {
    filter: none;
    transition: filter .7s;
}
.about-image {
    display: inline-block;
    width: 18%;
    padding-top: 15px;
}
.about-content {
    display: inline-block;
    width: 82%;
    vertical-align: top;
}
.hobbies {
    text-align: center;
    width: 100%;
}
#leftChevron, #rightChevron {
    display: inline-block;
    color: #006d75;
    height: 80px;
    padding: 50px;
}
