@media (max-width: 390px) {
  .Contact h3 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 391px) and (max-width: 1663px) {
  .Contact h2 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .Contact h3 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.Contact {
  border-radius: 15px;
  padding: 25px;
  text-align: center;
}

.Contact h2 {
  color: rgba(0, 229, 237, 1);
  padding: 10px;
  font-size: 2.5rem;
  text-align: left;
}
.Contact a {
  color: rgba(0, 229, 237, 1);
  text-decoration: none;
  font-weight: 600;
}
.Contact a:visited,
a:active {
  color: rgba(0, 229, 237, 1);
  text-decoration: none;
  font-weight: 600;
}
.Contact p {
  display: inline-block;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}
.Contact img:hover {
  filter: none;
  transition: filter 0.7s;
}
.Contact-Box {
  display: inline-block;
  font-size: 1.5rem;
  border: 2px solid rgba(0, 229, 237, 1);
  border-radius: 15px;
  padding: 20px;
  width: 120px;
  margin: 10px;
}
.Contact-Box:hover {
  background-color: gray;
}
.Contact-content {
  display: inline-block;
  position: relative;
  margin-top: 5%;
}
