@media (max-width: 390px) {
  .Experience h2 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .Experience h3 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .Experience .Employer,
  .employer-content {
    width: auto;
  }
}
@media (min-width: 391px) and (max-width: 1663px) {
  .Work h2 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .Work h3 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.Experience {
  border-radius: 15px;
  margin-left: 100px;
  margin-right: 100px;
  margin: 10px;
  padding: 25px;
}
.Experience h2 {
  padding: 10px;
  font-size: 2.5rem;
  text-align: left;
}
.Experience a {
  text-decoration: none;
  font-weight: 600;
}
.Experience a:visited,
a:active {
  text-decoration: none;
  font-weight: 600;
}
.Experience p {
  display: inline-block;
  padding: 10px;
  font-size: 1.5rem;
}
.Experience img:hover {
  filter: none;
  transition: filter 0.7s;
}
.Experience.dark .at-sign {
  color: white;
}
.Experience.light .at-sign {
  color: black;
}
.Employer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.employer-content > ul > li {
  list-style: none;
  text-align: left;
}
.employer-content {
  display: block;
  width: 90%;
  text-align: center;
}
.employer-content > ul {
  margin: 0;
  padding: 0;
}
.Experience .li-title {
  font-weight: 600;
}
.Experience li {
  padding: 2px;
}
.employer-content > ul > li:first-of-type {
  font-style: italic;
}
