.Experience {
    background-color: #454545;
    border: 2px solid #006d75;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 25px;
    color: white;
    text-align: center;
}
.Experience h2 {
    color: rgba(0,229,237,1);
    padding: 10px;
    font-size: 2.5rem;
    text-align: left;
}
.Experience a {
    color: rgba(0,229,237,1);
    text-decoration: none;
    font-weight: 600;
}
.Experience a:visited, a:active {
    color: rgba(0,229,237,1);
    text-decoration: none;
    font-weight: 600;
}
.Experience p {
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
}
.Experience img:hover {
    filter: none;
    transition: filter .7s;
}
.Experience .at-sign {
    color: white;
}
.employer-content > ul > li {
    list-style: none;
}
.employer-content {
    display: inline-block;
    text-align: center;
    width: 900px;
}
.employer-content > ul {
    text-align: left;
}
.Experience .li-title {
    font-weight: 600;
}
.Experience li {
    padding: 2px;
}
.employer-content > ul > li:first-of-type {
    font-style: italic;
}

@media (max-width: 390px) {
    .main-content {
        width: 100%;
        top: 280px;
    }
    .main-content .section-div {
        height: auto;
        margin: 0;
        padding: 5px;
    }
    .container > .Experience.section-div {
        display: inline-block;
        margin: 10px;
        width: calc(100vw -10vmax);
    }
    .Experience h2 {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .Experience h3 {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .Experience .Employer, .employer-content {
        width: 100%;
    }
  }
  @media (min-width: 391px) and (max-width: 1663px) {
    .container > .Experience.section-div {
        display: inline-block;
        margin: 10px;
        width: 94%;
    }
    .Work h2 {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .Work h3 {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .Experience .Employer, .employer-content {
        width: 100%;
    }
}