.Header {
    background: rgb(0,109,117);
    background: linear-gradient(90deg, rgba(0,109,117,1) 0%, rgba(0,229,237,1) 100%);
    font-family: 'Rajdhani', sans-serif;
    color: white;
    display: block;
    position: fixed;
    /* outline: 1px solid blue; */
    width: 100vw;
    height: 150px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}
.Header h1 {
    padding: 0px;
    display: inline-block;
    margin: 0px;
}
.name-div {
    height: auto;
    position: relative;
    display: inline-block;
    top: 12%;
    /* outline: 1px solid red; */
}
.logo-div {
    display: inline-block;
    height: auto;
    width: 30%;
    padding-left: 30px;
    /* outline: 1px solid black; */
}
.contact-div > div {
    background-color: rgb(128,128,128, .8);
    margin: 0px;
    border-radius: 25px;
    padding: 10px;
}
.contact-div p {
    margin: 0px;
    font-size: 1.5rem;
}
#logo img {
    display: inline-block;
    position: absolute;
    top: 20px;
    height: 7rem;
}
.Header ul {
    margin: 0px;
}
.Header li {
    /* outline: 1px solid pink; */
    display: block;
    padding: 0px;
    margin: 0px;
    line-height: .90;
    list-style: none;
}
.Header li:nth-of-type(2) {
    font-size: 5rem;
    font-weight: 600;
    position: relative;
    left: -5px;
}
.Header li:first-of-type ~ li:nth-of-type(3) {
    font-size: 1.5rem;
    position: relative;
}
.Header li:first-of-type {
    font-size: 1.5rem;
    position: relative;
}
.Header div:nth-of-type(3) {
    position: absolute;
    right: 100px;
    top: 20px;
}
@media (max-width: 390px) {
    #logo img {
        display: inline-block;
        position: relative;
        height: 7rem;
    }
    .contact-div {
        display: inline-block;
        position: relative;
        /* outline: 1px solid green; */
        width: 100%;
        left: 0px;
    }
    .name-div {
        display: inline-block;
        left: -150px;
    }
    .name-div {
        height: auto;
        position: relative;
        top: 0;
        left: 20%;
        width: 50%;
        /* outline: 1px solid red; */
        display: inline-block;
        margin-top: 100px;
    }
    .name-div li:nth-of-type(2) {
        font-size: 3rem;
    }
    .logo-div {
        display: inline-block;
        position: relative;
        height: auto;
        /* outline: 1px solid black; */
        width: 10%;
        top: -50px;
    }
    .Header {
        height: 280px;
        position: relative;
    }
}
@media (min-width: 391px) and (max-width: 648px) {
    #logo img {
        display: inline-block;
        position: relative;
        top: 1%;
        height: 7rem;
    }
    .contact-div {
        display: inline-block;
        position: relative;
        /* outline: 1px solid green; */
        width: 98%;
        margin-left: 1%;
        left: 0px;
    }
    .name-div {
        display: inline-block;
        left: -150px;
    }
    .name-div {
        height: auto;
        position: relative;
        top: 0;
        left: 25%;
        width: 50%;
        /* outline: 1px solid red; */
        display: inline-block;
        margin-top: 100px;
    }
    .name-div li:nth-of-type(2) {
        font-size: 3rem;
    }
    .logo-div {
        display: inline-block;
        position: relative;
        height: auto;
        /* outline: 1px solid black; */
        width: 10%;
        top: -10px;
        left: 10%;
    }
    .Header {
        display: block!important;
        position: relative;
        height: 285px;
    }
    .Header .logo-div {
        margin-top: 20%
    }
}
@media (min-width: 649px) and (max-width: 1194px) {
    #logo img {
        display: inline-block;
        position: relative;
        height: 7rem;
    }
    .name-div {
        display: absolute;
        left: 1%;
        /* outline: 1px solid red; */
    }
    .logo-div {
        /* outline: 1px solid blue; */
        width: auto;
    }
    #connect {
        display: none;
    }
    .contact-div > div {
        background-color: rgb(128,128,128, .8);
        margin: 0px;
        border-radius: 25px;
        padding: 10px;
        width: 70px;
        margin-left: 100%;
    }
}
