.Hobby img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #006d75;
    filter: grayscale(90%);
}
.Hobby > div {
    display: inline-block;
}
.Hobby {
    display: inline-block;
    border: 2px solid #006d75;
    border-radius: 25px;
    width: 60%;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
    margin-top: 50px;
}
.Hobby-info {
    vertical-align: top;
    padding-left: 50px;
}
.Hobby-info p {
    font-size: 1.3rem;
}
.Hobby ul {
    display: block;
    text-align: left;
    margin: 0px;
    padding-left: 50px;
}
