.Project img {
    display: inline-block;
    width: 400px;
    height: auto;
    object-fit: scale-down;
    border-radius: 10px;
    border: 2px solid #006d75;
    filter: grayscale(90%);
}
.Project > div {
    display: inline-block;
}
.Project {
    display: inline-block;
    border: 2px solid #006d75;
    border-radius: 25px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
    margin-top: 50px;
}
.Project-info {
    vertical-align: top;
    padding-left: 50px;
}
.Project-info p {
    font-size: 1.3rem;
}
.Project ul {
    display: block;
    text-align: left;
    margin: 0px;
    padding-left: 50px;
}