

body {
    background-color: #35363a;
}

.main-content {
    display: inline-block;
    position: absolute;
    top: 150px;
    font-family: 'Rajdhani', sans-serif;
    width: 100%;
}
.main-content h2 {
    margin: 0px;
}
.main-content p {
    margin: 0px;
}
.main-content > div {
    height: auto;
}
.main-content .section-div {
    height: 100%;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(0,109,117,1) 0%, rgba(0,229,237,1) 100%); 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, rgba(0,109,117,1) 0%, rgba(0,229,237,1) 100%);  
  }
  @media (max-width: 390px) {
    .main-content {
      width: 100%;
      top: 280px;
    }
    .main-content .section-div {
      height: auto;
      margin: 0;
      padding: 5px;
    }
  }
  @media (min-width: 391px) and (max-width: 648px) {
    .main-content {
      display: block!important;
      width: 100%;
      top: 285px;
    }
    .main-content .section-div {
      height: auto;
      margin: 0;
      padding: 5px;
    }
  }
  @media (min-width: 649px) and (max-width: 1663px) {
    .main-content {
      display: block!important;
      width: 100%;
      top: 150;
    }
    .main-content .section-div {
      height: auto;
      margin: 0;
      padding: 5px;
    }
  }